<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <appSettings>
    <add key="ImageRootUrl" value="http://10.10.10.223/media"/>
    <add key="GenerateImages" value="true"/>
    <add key="FTPFiles" value="true"/>
    <add key="FTPToAppropos" value="true"/>
    <add key="CheckBrands" value="true"/>
    <add key="CheckSAPFiles" value="true"/>
    <add key="DataConnOracle" value="data source=IMAGE;User ID=CQL_USER;Password=cqluse01;"/>
    <!-- Production -->
    <add key="iCongoFTPUS" value="ftp://209.202.184.58/PRODUCTION/US/INBOUND/"/>
    <add key="iCongoImagesFTPUS" value="ftp://209.202.184.58/PRODUCTION/US/IMAGES/STYLES/"/>
    <add key="iCongoFTPCA" value="ftp://209.202.184.58/PRODUCTION/CANADA/INBOUND/"/>
    <add key="iCongoImagesFTPCA" value="ftp://209.202.184.58/PRODUCTION/CANADA/IMAGES/STYLES/"/>
    <add key="iCongoFTPWE" value="ftp://209.202.184.58/PRODUCTION/WEXP/INBOUND/"/>
    <add key="iCongoImagesFTPWE" value="ftp://209.202.184.58/PRODUCTION/WEXP/IMAGES/STYLES/"/>
    <add key="iCongoFTPFD" value="ftp://209.202.184.58/PRODUCTION/FD/INBOUND/"/>
    <add key="iCongoImagesFTPFD" value="ftp://209.202.184.58/PRODUCTION/FD/IMAGES/STYLES/"/>
    <add key="iCongoUser" value="wvr_int"/>
    <add key="iCongoPass" value="icongo100"/>
    <add key="ApproposSFTP" value="integration.approposdigital.com"/>
    <add key="ApproposPath" value="/client/wwwinc/masterData/"/>
    <add key="ApproposUser" value="wwwinc"/>
    <add key="ApproposPass" value="MerrellIsTheFirst"/>
    <!-- Staging -->
    <!--<add key="iCongoFTPUS" value="ftp://38.108.73.25/STAGING/US/INBOUND/"/>
    <add key="iCongoImagesFTPUS" value="ftp://38.108.73.25/STAGING/US/IMAGES/STYLES/"/>
    <add key="iCongoFTPCA" value="ftp://38.108.73.25/STAGING/CANADA/INBOUND/"/>
    <add key="iCongoImagesFTPCA" value="ftp://38.108.73.25/STAGING/CANADA/IMAGES/STYLES/"/>
    <add key="iCongoFTPWE" value="ftp://38.108.73.25/STAGING/WEXP/INBOUND/"/>
    <add key="iCongoImagesFTPWE" value="ftp://38.108.73.25/STAGING/WEXP/IMAGES/STYLES/"/>
    <add key="iCongoFTPFD" value="ftp://38.108.73.25/STAGING/FD/INBOUND/"/>
    <add key="iCongoImagesFTPFD" value="ftp://38.108.73.25/STAGING/FD/IMAGES/STYLES/"/>
    <add key="iCongoUser" value="wolverine"/>
    <add key="iCongoPass" value="wr!38973"/>
    <add key="ApproposSFTP" value="integration.approposdigital.com"/>
    <add key="ApproposPath" value="/client/wwwsand/masterData/"/>
    <add key="ApproposUser" value="wwwsand"/>
    <add key="ApproposPass" value="ApproposForWolverineSFTP"/>-->
  </appSettings>
  <connectionStrings>
    <add name="B2BProductCatalogDB" connectionString="Data Source=ROCSQP01;User ID=B2BProductCatalogUser;Password=password;Initial Catalog=B2BProductCatalog;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <log4net>
    <appender name="EmailAppender" type="log4net.Appender.SmtpAppender">
      <to value="Matthew.Westover@wwwinc.com, Dan.Schab@wwwinc.com" />
      <from value="do.not.reply@mig.wwwinc.com" />
      <subject value="Marketing Generator Service Error - Production" />
      <smtpHost value="wwwsmtp.wwwint.corp" />
      <threshold value="ERROR" />
      <levelMin value="ERROR" />
      <levelMax value="FATAL" />
      <bufferSize value="0" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\Logs\MarketingGeneratorService_log.txt" />
      <threshold value="DEBUG" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] – %message%newline" />
      </layout>
    </appender>
    <root>
      <appender-ref ref="FileAppender" />
      <appender-ref ref="EmailAppender" />
    </root>
  </log4net>
</configuration>